.reset-container {
    text-align: center;
    margin-left: 600px;
}

.reset {
    border: 2px solid #69f0ae;
    border-radius: 5px;
    width: 500px;
    height: 500px;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.form-value {
    width: 460px;
    margin-top: 20px;
}

h1 {
    color: #69f0ae;
}

button {
    margin-top: 40px;
    width: 150px;
}