#verify-container {
    text-align: center;
    margin-left: 600px;
}

#verify {
    border: 2px solid #69f0ae;
    border-radius: 5px;
    width: 500px;
    height: 500px;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.form-value {
    width: 460px;
    margin-top: 20px;
}

h1 {
    color: #69f0ae;
}

button {
    margin-top: 20px;
    width: 150px;
}

.timer-container {
    margin-left: 200px;
}

.timer {
    font-size: 20px;
    color: #fff;
    border: 2px solid #69f0ae;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
}