<div id="verify-container">
    <div id="verify">
        <h1>Verify Account</h1>
        <form [formGroup]="verificationForm">
            <div>
                <mat-form-field appearance="outline"  class="form-value">
                    <mat-label>Email</mat-label>
                    <input matInput type="text" formControlName="email" [class.is-invalid]="email?.invalid && email?.touched">
                    <mat-error *ngIf="email?.errors?.['required']">Email is Required</mat-error>
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button color="accent" id="save" (click)="sendOtp()">Send OTP</button>
            </div>
        </form>
        <div [hidden]="!flag">
            <div class="timer-container">
                <div class="timer">
                    <countdown #cd [config]="config"></countdown>
                </div>
            </div>
            <form [formGroup]="otpForm">
                <div>
                    <mat-form-field appearance="outline"  class="form-value">
                        <mat-label>Enter OTP</mat-label>
                        <input matInput type="number" formControlName="otp" [class.is-invalid]="email?.invalid && email?.touched">
                        <mat-error *ngIf="otp?.errors?.['required']">OTP is Required</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-raised-button color="accent" id="save" (click)="confirmOtp()">Confirm OTP</button>
                </div>
            </form>
        </div>
    </div>
</div>
